h1, h2 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}

h3 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 3px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

body {
  margin: 0;
  background-color: #f4ffed;
}

div.container.row {
	padding: 10px;
}

a {
	color: #30b9f0;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}

div.container-fluid.header {
	color: black;
	text-decoration: none;
	
}

a:hover {
	color: #cb8fff;
}


hr {
	border: none; 
    height: 36px; 
    background: #cb8fff;
    margin: 0px;
}

table {
	margin: 5px;
}

.purpleback {
	background: #cb8fff;
}

.pinkback {
	background: #ff8f8f;
}

th {
	padding-right: 20px;
}

.pad8topbottom {
	padding-top: 8px;
	padding-bottom: 8px;
}

.height100 {
	height: 100px;
}

.aBlack {
  color: black;
}
.aBlack:hover {
  color: #ff8566;
}

.create-form{
        margin: 40px;        
    }

.customHome {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.header{
  text-align: center;
  padding: 1px;
  background-color: #fff86e;
  max-height: 300px;
}
.footer{
  text-align: center;
  padding: 1px;
  background-color: #fff86e;
	height: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

img {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.widththird {
	width: 33%;
}


button {
  background-color: #ff8f8f;
  text-transform:uppercase;
  border: none;
  padding: 4px 8px;
  margin: 4px 4px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #fff86e;
}

td {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding-left: 4px;
  padding-right: 4px;
}

h1 {
  padding-top: 8px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;

}

h2 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
}

h3 {
  padding: 8px 0px 8px 0px;
  text-align: center;

}

form {
  padding: 0px 0px 0px 0px;
  text-align: center;
}

input {
  margin: 8px 0px 8px 0px;
}

.customInputNumbers {
  width: 100px;
}

.customInputText {
  min-width: 25%;
  max-width: 300px;
}

ul {
  list-style-type: none;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px;
  overflow: hidden;
  background-color: #85adad;
}


li a {
  padding: 0px 8px;
  color: black;
  text-align: center;
  text-decoration: none;
}

li:hover {
  background-color: #fff23b;
}