h1, h2 {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  margin: 3px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

body {
  margin: 0;
  background-color: rgb(213, 213, 213);
}

.aBlack {
  color: black;
}
.aBlack:hover {
  color: #ff8566;
}

.create-form{
        margin: 40px;        
    }

.customHome {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.header{
  text-align: center;
  padding: 1px;
  background-color: #e0e0d1;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.niceButton {
  background-color: #85adad;
  text-transform:uppercase;
  border: none;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  background-color: #ff8566;
}

th {
  padding-left: 8px;
  padding-right: 8px;
}

td {
  padding: 0px;
}

h1, h2 {
  padding: 0px 8px;
  text-align: center;

}
h3 {
  padding: 8px 0px 8px 0px;
  text-align: center;

}

form {
  padding: 0px 0px 0px 0px;
  text-align: center;
}

input {
  margin: 8px 0px 8px 0px;
}

input[type=submit] {
  background-color: #85adad;
  text-transform:uppercase;
  border: none;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
  font-weight: bold;
}
input[type=submit]:hover {
  background-color: #ff8566;
}

.noHover {
  background-color: #85adad;
}

li.noHover:hover {
  background-color: #85adad;
}

.customInputNumbers {
  width: 100px;
}

.customInputText {
  min-width: 25%;
  max-width: 300px;
}

ul {
  list-style-type: none;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px;
  overflow: hidden;
  background-color: #85adad;
}


li a {
  padding: 0px 8px;
  color: black;
  text-align: center;
  text-decoration: none;
}

li:hover {
  background-color: #ff8566;
}